#welcome-section{
    background-color: white;
    display: block;
    color: black;
    margin-top:  25%;
    margin-bottom: 5%;
}

h1{
  text-align: center;
  font-size: 35px;
}

#proj{
  text-decoration: none;
  color: black;
}
#proj:hover{
  background-color: white;
}
.code {
  color: white;
  transition: color 0.3s ease-out;
}

span:hover .code {
  color: #ff7f50;
}

image {
  max-width: 100%;
  max-height: 100%;
}
a{
  text-decoration: none;
}
center{
  margin-bottom: 25%;
}
text{
  text-align: center;
}
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Github */
.fa-github {
  color:black;
}

/* LinkedIn */
.fa-linkedin {
  color:black;
}

/* Twitter */
.fa-twitter {
  color:black;
}

/* StackOverFlow */
.fa-stack-overflow {
  color:black;
}

/* Instagram */
.fa-instagram {
  color:black;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 100%;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}